$white: #fff !default;
$black: #000 !default;
$primary: #6972f3 !default;

// TO-DO
$gray-100: #222;
$gray-200: #333;
$gray-300: #666;
$gray-400: #999;
$gray-410: #979797;
$gray-500: #aaa;
$gray-600: #bbb;
$gray-700: #ccc;
$gray-800: #ddd;
$gray-900: #eee;
$gray-910: #e5e5e5;
$gray-920: #edf0ff;
$gray-930: #e9e9e9;
$gray-010: #f3f3f3;
$gray-020: #f5f5f5;
$gray-030: #f9f9f9;

$error: #ec5a5a;
$accent: #3952cd;

$indigo-100: #10207d;
$indigo-200: #232538;
$indigo-300: #17181d;
$indigo-400: #0036b9;