@use "sass:math";
@forward "font-face";
@forward "font";
@use "../fonts/conci-icon/_icon.css";
@forward "color";
// @import 'layout';
@use "./components/main";
// @import 'style';
@forward 'common';
@use "color" as *;

html {
  overflow-y: hidden;
  font-size: 16px;
}
.overflow-hidden {
  overflow-y: hidden !important;
}
.v-application.hm-app.theme--light {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  color: $gray-100;
  overflow-y: hidden;
  .row {
    margin: 0;
  }
  .col {
    padding: 0;
  }
  ol,
  ul {
    padding: 0;
    &:not(.tpl-content, .vue-pan-zoom-item, #to_pdf_content, .panZoom) {
      list-style-type: none;
    }
    &::marker {
      // content: "";
      text-indent: -999px !important;
    }
  } 
  :has(.origin-list) {
    ol,
    ul {
      list-style-type: inherit !important;
      li::marker {
        text-indent: 0 !important;
      }
    }
  }
  :has(.tpl-content, .vue-pan-zoom-item, #to_pdf_content, .panZoom) {
    ol,
    ul {
      list-style-type: auto !important;
      > li::marker {
        text-indent: 0 !important;
      }
    }
    #contentTable {
      margin: 0 auto;
    }
  }
}

.rounded-16 {
  border-radius: 16px !important;
}
.v-divider--vertical {
  margin: 0;
}
em {
  font-style: normal;
}

.border-0 {
  border: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-width: 0 !important;
}
.bl-0 {
  border-left: 0 !important;
}
.br-0 {
  border-right: 0 !important;
}
.bb-0 {
  border-bottom: 0 !important;
}
.bt-0 {
  border-top: 0 !important;
}

.ba-ess {
  border: 1px solid #6972f3 !important;
}
.ba-gery-1 {
  border: 1px solid #eee !important;
}
.bt-gery-1 {
  border-top: 1px solid #eee !important;
}
.bb-gery-1 {
  border-bottom: 1px solid #eee !important;
}
.bl-gery-1 {
  border-left: 1px solid #eee !important;
}
.br-gery-1 {
  border-right: 1px solid #eee !important;
}

.ba-gery-2 {
  border: 1px solid #ddd !important;
}
.bt-gery-2 {
  border-top: 1px solid #ddd !important;
}
.bb-gery-2 {
  border-bottom: 1px solid #ddd !important;
}
.bl-gery-2 {
  border-left: 1px solid #ddd !important;
}
.br-gery-2 {
  border-right: 1px solid #ddd !important;
}

.ba-gery-3 {
  border: 1px solid #d8dcde !important;
}
.bt-gery-3 {
  border-top: 1px solid #d8dcde !important;
}
.bb-gery-3 {
  border-bottom: 1px solid #d8dcde !important;
}
.bl-gery-3 {
  border-left: 1px solid #d8dcde !important;
}
.br-gery-3 {
  border-right: 1px solid #d8dcde !important;
}

.ba-gery-4 {
  border: 1px solid #333 !important;
}
.bt-gery-4 {
  border-top: 1px solid #333 !important;
}
.bb-gery-4 {
  border-bottom: 1px solid #333 !important;
}
.bl-gery-4 {
  border-left: 1px solid #333 !important;
}
.br-gery-4 {
  border-right: 1px solid #333 !important;
}

.ba-gery-5 {
  border: 1px solid #f3f3f3 !important;
}
.bt-gery-5 {
  border-top: 1px solid #f3f3f3 !important;
}
.bb-gery-5 {
  border-bottom: 1px solid #f3f3f3 !important;
}
.bl-gery-5 {
  border-left: 1px solid #f3f3f3 !important;
}
.br-gery-5 {
  border-right: 1px solid #f3f3f3 !important;
}

.ba-gery-6 {
  border: 1px solid #999 !important;
}
.bt-gery-6 {
  border-top: 1px solid #999 !important;
}
.bb-gery-6 {
  border-bottom: 1px solid #999 !important;
}
.bl-gery-6 {
  border-left: 1px solid #999 !important;
}
.br-gery-6 {
  border-right: 1px solid #999 !important;
}

.ba-gery-7 {
  border: 1px solid #e9e9e9 !important;
}
.bt-gery-7 {
  border-top: 1px solid #e9e9e9 !important;
}
.bb-gery-7 {
  border-bottom: 1px solid #e9e9e9 !important;
}
.bl-gery-7 {
  border-left: 1px solid #e9e9e9 !important;
}
.br-gery-7 {
  border-right: 1px solid #e9e9e9 !important;
}
  
// TO-DO
.ba-white {
  border: 1px solid $white !important;
  border-bottom: 1px solid $white !important;
  border-top: 1px solid $white !important;
  border-color: $white !important;
  border-width: 0 !important;
}
.bt-white {
  border-top: 1px solid $white !important;
}
.bb-white {
  border-bottom: 1px solid $white !important;
}
.bl-white {
  border-left: 1px solid $white !important;
}
.br-white {
  border-right: 1px solid $white !important;
}

.bt-gery-1-dotted {
  border-top: 1px dotted #eee !important;
}

.color_grey_1_border {
  border-color: #222 !important;
}
.color_grey_1_1_border {
  border-color: #333 !important;
}
.color_grey_2_border {
  border-color: #666 !important;
}
.color_grey_3_border {
  border-color: #aaa !important;
}
.white.color_grey_4_border,
.color_grey_4_border {
  border-color: #ccc !important;
}
.color_grey_5_border {
  border-color: #f3f3f3 !important;
}
.color_grey_9_border {
  border-color: #eee !important;
}
.color_grey_10_border {
  border-color: #818694 !important;
}
.white.color_ess_border,
.color_ess_border {
  border-color: #6972f3 !important;
}
.border-style-dotted {
  border-style: dotted !important;
}
.border-style-dashed {
  border-style: dashed !important;
}
.white.color_grey_14_border,
.color_grey_14_border {
  border-color: #dedede !important;
}
.white.color_grey_5_border,
.color_grey_5_border {
  border-color: #f3f3f3 !important;
}
.no-border {
  border-top: 0;
}
.noresize {
  resize: none;
  textarea {
    resize: none;
  }
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.fixed {
  position: fixed !important;
}
.white-space-pre-wrap {
  white-space: pre-wrap;
}
.white-space-nowrap {
  white-space: nowrap;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.full-width {
  width: 100%;
}
.underline {
  text-decoration: underline;
}
  
// line-height
@for $i from 10 to 48 {
  .line-height-#{$i} {
    line-height: $i * 0.1 !important;
  }
}

// font : size
@for $i from 10 through 100 {
  .f#{$i} {
    font-size: #{$i*0.0625}rem !important;
  }
}
// scale
@for $i from 10 to 200 {
  .scale#{$i} {
    transform: scale($i * 0.01) !important;
  }
}

// opacity
@for $i from 0 to 99 {
  .opacity#{$i} {
    opacity: #{$i * 0.01} !important;
  }
}
// top
@for $i from 0 to 16 {
  .top-#{$i} {
    top: #{$i * 4}px !important;
  }
}
@for $i from 0 to 16 {
  .top-n#{$i} {
    top: - #{$i * 4}px !important;
  }
}
// bottom
@for $i from 0 to 16 {
  .bottom-#{$i} {
    bottom: #{$i * 4}px !important;
  }
}
@for $i from 0 to 16 {
  .bottom-n#{$i} {
    bottom: - #{$i * 4}px !important;
  }
}
// left
@for $i from 0 to 16 {
  .left-#{$i} {
    left: #{$i * 4}px !important;
  }
}
@for $i from 0 to 16 {
  .left-n#{$i} {
    left: - #{$i * 4}px !important;
  }
}
// right
@for $i from 0 to 16 {
  .right-#{$i} {
    right: #{$i * 4}px !important;
  }
}
@for $i from 0 to 16 {
  .right-n#{$i} {
    right: - #{$i * 4}px !important;
  }
}
// z-index
@for $i from 0 to 9 {
  .zindex-#{$i} {
    z-index: #{$i};
  }
}
.d-grid {
  display: grid !important;
}
// flex/ grid : gap
@for $i from 2 to 64 {
  .gap-#{$i} {
    gap: $i *1px !important;
    &-y2n {
      gap: math.div($i, 2) *1px $i *1px !important;
    }
    &-x2n {
      gap: $i *1px math.div($i, 2) *1px !important;
    }
  }
}
.gap-row-0 {
  row-gap: 0 !important;
}
.gap-column-0 {
  column-gap: 0 !important;
}
// grid
.grid-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // gap: 20px;
  > .v-card,
  > .h-chart-card {
    grid-column: span 6;
  }
}
// no-wrap
.grid-flow-column {
  grid-auto-flow: column !important;
}
// grid span
@for $i from 1 to 12 {
  .grid-span-#{$i} {
    grid-column: span $i !important;
  }
}
//
.one-third {
  grid-column: span 4;
}
.one-quarter {
  grid-column: span 3;
}
.half {
  grid-column: span 6;
}
.wide {
  grid-column: span 8;
}
.full {
  grid-column: span 12;
}
// rotate 
@for $i from 1 through 24 {
  .rotate#{$i} {
    transform: rotate(#{15*$i}deg);
  }
}
@for $i from 10 to 100 {
  .row-height-#{$i} {
    li {
      min-height: $i *1px !important;
    }
  }
}
// radius
@for $i from 1 to 20 {
  .radius-#{$i} {
    border-radius: $i *1px !important;
  }
}

.rotate0 {
  transform: rotate(0);
}
.rotate25 {
  transform: rotate(25deg);
}
// .rotate90 {
//   transform: rotate(90deg);
// }
// .rotate180 {
//   transform: rotate(180deg);
// }
.reverse {
  transform: scaleX(-1);
}

#printWrap {
  border:1px solid #ccc;
}